
#label{
  display: block;
  font-size: 10em;
  text-align: center;
  font-family: Helvetica;
}

#buttons{
  text-align: center;
}

.buttons{
  font-size: 1.6em;
  color: aliceblue;
  padding: 10px 20px;
  background-color: steelblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ;

}

.buttons:hover{
  background-color: rgb(14, 14, 44);
}



